* {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: 'Aquire';
  src: url("./assets/fonts/Aquire.otf");
}

.flex-content-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-block {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  grid-gap: 24px;
}

.form-container {
  padding: 20px;
  display: flex;
  flex-direction: column;
  
  .card-title {
    margin-bottom: 25px;
  }

  .content {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    grid-gap: 20px;
  }

}

.pagination-container {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin-top: 30px;
}