

.Logo {

  span {
    font-family: 'Aquire';
    font-size: 40px;
    color: #EB3536;

    &.right-block {
      color: #1E2F41;
      margin-left: 5px;

      .orange-letter {
        color: #FF8729;
      }
    }
  }

}